In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
data.dropna(axis=0,subset=['SalePrice'],inplace=True)
y = data.SalePrice
X = data.drop(['SalePrice'],axis =1 ).select_dtypes(exclude =['object'])

In [4]:
train_X,test_X,train_y,test_y = train_test_split(X,y,test_size=0.25)

In [5]:
X_test = test.select_dtypes(exclude=['object'])
X_test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,730.0,140,0,0,0,120,0,0,6,2010
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,312.0,393,36,0,0,0,0,12500,6,2010
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,482.0,212,34,0,0,0,0,0,3,2010
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,470.0,360,36,0,0,0,0,0,6,2010
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,506.0,0,82,0,0,144,0,0,1,2010

In [6]:
my_model = XGBRegressor()
# Add silent=True to avoid printing out updates with each cycle
my_model.fit(train_X, train_y, verbose=True)

[21:36:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/home/quentin/v/lib/python3.5/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [7]:
mean_absolute_error(my_model.predict(test_X),test_y)

18241.040967465753

In [8]:
test_preds = my_model.predict(X_test)
output = pd.DataFrame({'Id':test.Id,'SalePrice': test_preds})
output.to_csv('submission.csv',index=False)

In [9]:
my_model1 = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model1.fit(train_X, train_y, early_stopping_rounds=5, 
             eval_set=[(test_X, test_y)], verbose=False)

/home/quentin/v/lib/python3.5/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:37:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [10]:
mean_absolute_error(my_model1.predict(test_X),test_y)

18131.601530393837

In [11]:
test_preds1 = my_model1.predict(X_test)
output = pd.DataFrame({'Id':test.Id,'SalePrice': test_preds1})
output.to_csv('submission1.csv',index=False)

In [12]:
pd.read_csv('submission1.csv').head()

     Id  SalePrice
0  1461  126194.28
1  1462  155256.44
2  1463  174068.31
3  1464  177858.61
4  1465  200567.78

In [13]:
output.head()

     Id      SalePrice
0  1461  126194.281250
1  1462  155256.437500
2  1463  174068.312500
3  1464  177858.609375
4  1465  200567.781250